
.SUBSCRIBE-button {
    background-color: rgb(201, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
  }
  .SUBSCRIBE-button:hover {
    background-color: aqua;
  }
  .SUBSCRIBE-button:active{
    background-color: blueviolet;
  }
  .JOIN-button {
    background-color: white;
    color: rgb(41, 118, 211);
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
  }
  .tweet-button {
    background-color: rgb(7, 166, 210);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

  }
